<div id="<%= dom_id todo %>">
  <div>
    <strong>Title:</strong>
    <%= todo.title %>
  </div>

  <div>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </div>

  <div>
    <strong>Created:</strong>
    <%= time_ago_in_words(todo.created_at) %> ago
  </div>

</div>
